extends layout

block content
  h1= title

  ul
    each book in book_list
      li

        a(href=bookUrl(book.id)) #{book.title}
        |  (#{book.family_name}, #{book.first_name})

    else
      li There are no books.

