extends layout

block content

  h1 ID: #{bookinstance.id}

  p #[strong Title: ]
    a(href=bookUrl(bookinstance.bookid)) #{bookinstance.title}
  p #[strong Imprint:] #{bookinstance.imprint}

  p #[strong Status: ]
    if bookinstance.current_status=='Available'
      span.text-success #{bookinstance.current_status}
    else if bookinstance.current_status=='Maintenance'
      span.text-danger #{bookinstance.current_status}
    else
      span.text-warning #{bookinstance.current_status}

  if bookinstance.current_status!='Available'
    p #[strong Due back:] #{toYYYMMDDformat(bookinstance.due_back)}

  hr
  p
    a(href=bookinstanceUrl(bookinstance.id)+'/delete') Delete Bookinstance
  p
    a(href=bookinstanceUrl(bookinstance.id)+'/update') Update Bookinstance
