extends layout

block content

  h1= title
  
  p #[strong Do you really want to delete this BookInstance?]
  
  div(style="margin-left:20px")

    p #[strong ID]: #{bookinstance.id}
  
    p #[strong Title:] 
      a(href=bookUrl(bookinstance.bookid)) #{bookinstance.title}
    
    p #[strong Imprint:] #{bookinstance.imprint}

    p #[strong Status: ]
      if bookinstance.current_status=='Available'
        span.text-success #{bookinstance.current_status}
      else if bookinstance.current_status=='Maintenance'
        span.text-danger #{bookinstance.current_status}
      else
        span.text-warning #{bookinstance.current_status}

    if bookinstance.current_status!='Available'
      p #[strong Due back:] #{toYYYMMDDformat(bookinstance.due_back)}

  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=bookinstance.id )

    button.btn.btn-primary(type='submit') Delete
